.App {
    background-image: url('./assets/background.jpeg');
    background-size: cover;
    text-align: center;
    padding: 20px;
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 30%;
}

.arrow-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-buttons {
    margin-top: 50px;
    color: antiquewhite;
}

.arrow-buttons-lr {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 40px;
    background-color: #444242;
    color: #fff;
}

.direction-text {
    font-size: 16px;
    padding-top: 5px;
    color: #fff;
}

.image-arrow {
    width: 120px;
    height: 80px;
    color: blue;
}

#rotate-right {
    transform: rotate(50deg);
}

#rotate-left {
    transform: rotate(-50deg) rotateY(180deg);
}

.arrow-icons {
    margin-top: 50px;
}

.arrow-icon {
    margin: 5px;
    height: 80px;
    width: 120px;
    color: #fff;
}

.up-down-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}